
html {
	background-color: white;
	color: #002A30;
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 0.90em;
	line-height: 1.75em;
}

body {
	margin: 0;
	padding: 0;
}

#mastwrap {
    background: url(img/header.png) bottom left repeat-x #301859;
}

#masthead {
	position:relative;
	background: url('logo.jpg') bottom left no-repeat transparent;
	border: 0px solid white;
	height: 150px;
	color: #000;
}

#content {
	margin-top: 2em;
	margin-left: 3em;
	margin-right: 15em;
}

.inlinemediaobject {
	display: block;
	text-align: center;
}

div.toc {
  padding-left: 1em;
  padding-right: 1em;
}

div.toc dt { 
  margin-top: 2px; 
}

div.toc dt :visited { 
	color: black; /* Ubuntu visited link color */
}

ul {
	margin-right: 25%;
}

div.qandaset dt :visited { 
	color: black; /* Ubuntu visited link color */
}

:link { 
	color: #004ca2;
}

:visited { 
	color: #004ca2;
}

dl { 
  margin-top: 0em; 
  margin-bottom: 0.5em; 
}

dt { 
  margin-top: 1em; 
}

div.qandaset {
	margin-left: 1em;
}

.guimenu, .guimenuitem, .guisubmenu {
	font-style: italic;
	color: #004ca2;
}

.guilabel, .guibutton { 
}

.question { 
  font-weight: bold; 
}

/* accelerator keys in menus */
.accel { 
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
        font-weight: normal; 
        color: #301859;
        line-height: 1.2em;

}	

h1
{
        font-size: 1.6em; border-bottom: 2px solid #6d4c07;
}

h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5, h6 {font-size: 1em;}



strong
{
        margin: 1.5em 0 0 0;
        font-weight: normal; 
        color: #301859;
        font-size: 1.3em;
}

